{
    "endOfLine": "lf",
    "printWidth": 100,
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "plugins": [
        "prettier-plugin-jsdoc",
        "prettier-plugin-tailwindcss"
    ],
    "jsdocDescriptionWithDot": true,
    "jsdocPrintWidth": 90,
    "jsdocCommentLineStrategy": "multiline",
    "tailwindAttributes": [ "/[\\w+]ClassName/"],
    "tailwindFunctions": ["clsx"]
}
