@reference 'tailwindcss';

@utility drag-none {
    -webkit-user-drag: none;
}

@font-face {
    src: url('/C/fonts/WedOS-Icons.ttf');
    font-family: WedOS-Icons;
}

@layer base {
    *,
    ::before,
    ::after {
        @apply border-neutral-600 align-middle outline-neutral-600;
    }
}

html {
    @apply h-full;
}

body {
    @apply drag-none h-full overflow-hidden bg-neutral-900 text-sm wrap-break-word text-white select-none;
}

#wed-root {
    @apply h-full;
}

.dark {
    @apply scheme-dark;
}
